{{define "login"}}
{{template "base" .}}

<h2>log in</h2>
<form action="/login" method="POST">
  <label>
    <input type="text" name="username">
  </label>
  <br>

  <label>
    <input type="password" name="password">
  </label>
  <br>

  <input type="submit" value="Войти">
</form>

{{template "basedown" .}}
{{end}}



{{define "register"}}
{{template "base" .}}
<h2>sign up</h2>
<form action="/register" method="POST">
  <label>
    <input type="text" name="username">
  </label>
  <br>

  <label>
    <input type="password" name="password">
  </label>
  <br>

  <input type="submit" value="Продолжить">
</form>
{{template "basedown" .}}
{{end}}



